/* GENERAL */
body {
  --background: #6cb
}
.active-nav {
  background-color: var(--background) !important;
  color: black !important;
  pointer-events: none;
}
.active-nav:hover {
  background-color: var(--background) !important;
}
/*1. COLUMBIA */
#columbiaWrapper {
  flex-direction: column;
}
#colombiaJeff {
  height: 200px;
  width: 200px;
}
